.react-story {
  font-family: sans-serif;

  &.open {
    position: fixed;
    overflow: hidden;
    background-color: #000000;
    top:0;
    left:0;
    bottom: 0;
    right: 0;

    .swipe-wrapper {
      width: 100%;
      top: 50%;
      position: absolute;
    }
  }

  .rs-header{
    color: #fff;
    font-size: 20px;
    padding: 15px;
    text-align: center;
  }

  .rs-close{
    position: absolute;
    color: #ffffff;
    font-size: 20px;
    margin: 16px;
    right: 0;
  }

  .rs-footer{
    color: #ffffff;
    position: absolute;
    bottom: 0;
    padding: 14px;
    text-align: center;
    width: 100%;
    font-size: 20px;
    box-sizing: border-box;
  }

  .rs-pan-image{
    position: absolute;
    top:50%;
    background-size: cover;
    display: none;
  }
}